@media only screen and (max-width: 1024px)
{
    .navbar{
        height: 220px;
        flex-direction: column;
        transition: all 0.3s ease-out;
    }
    .logoo{
        margin:0'
    }
    #disp{
        display: flex;
    }
    #disp-opp{
        display: none;
        /* width: 0;
        height: 0;
        padding: 0;
        margin: 0; */
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
      opacity: 0;  
      width: 10%;
    }
    .box-main{
        max-width: 100%;
    }
    .inline{
        flex-direction: column;
    }
    .box-singlesec{
        flex-direction: column;
    }
    .sqsingle{
        width:80%
    }
    .fourthSection .inline{
        flex-direction: column-reverse;
    }
    .square
    {
        width: 80%;
    }
    .thirdSection .square
    {
        width:80%;
    }
    
}
@media (max-width:992px){
    #login-pic{
        display: none;
    }
}

@media (max-width:767px) {
    .footer-contacts {
      margin: 30px 0;
    }
    .SingleSec{
        height: 150vh;
    }
    #content-col{
        padding: 0rem 2rem;
    }
    #form-col{
        padding: 0;
    }
    #form-col-det{
        padding: 0;
    }
    #form-style{
        padding: 0;
    }
  }


@media only screen and (max-width: 600px) {
    .list-group-item {
        color: white;
    }

    .panel {
        padding: 0 18px;
        display: none;
        background-color: none;
        overflow: hidden;
    }

    .foter-1{
        display: block !important;
    }

    .foter-2 {
        display: none !important;
    }

    .imgage-1 {
        padding-right: 5rem !important;
        padding-left: 5rem !important;
    }

    .canv {
        width: 100% !important;
        padding: 0% 5% !important;
    }
    
    Dashboard 
    .dashborder {
        border-right-style: none!important;
    }
    .happyclient {
        width: 70% !important;
    }
}
@media (max-width:370px){
    .SingleSec{
        height: 200vh;
    }
    #content-head{
        font-size: 1.6rem;
    }
}
@media only screen and (max-width:567px){
    #Mob-div{
        flex-direction: column;
    }
    #num{
        width: 100%;
    }
    #OTP-button
    {
        padding: .375rem .75rem;
        width: 100%;
        height: 40px;
        margin:1rem 0rem 0rem 0rem;
    }
    .SingleSec{
        height: 170vh;
    }
}