@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #e9ecef;
    font-family: 'Lora', serif;
}

.container h1{
    text-align: center;
    width: 90%;
    padding-bottom: 20px;
    margin: auto;
    font-family: 'Lora', serif;
}
.sidebar{
    padding: 0;
    background-image: url("../img/table.jpeg");
    background-position: center;
    background-size: cover;
}
.tabs{
    width: 100%;
    height: auto;
    margin:0 auto;
}

.tabs .tab-header{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding:19px 0;
    background-color: #f5f5f5;
}

.tabs .tab-header li{
    display: inline;
}

.tabs .tab-header li a{
    color:#000;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Lora', serif;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 55px;
}

.tabs .tab-header li a.active{
    border-bottom: 3px solid red;
    color: red;
}

.tab-content{
    width: 100%;
    display: inline-block;
    background-color: #fff ;
    padding: 10px 40px 40px 20px;
    min-height: 400px;
    font-family: 'Lora', serif;
}

.column{
    font-family: raleway;
    font-size:22px;
    text-decoration: none;
    color:#000;
    font-weight: 500;
    display: inline-block;
    width: 21%;
    float: left;
    border: 1px solid gainsboro;
    border-radius: 15px;
    margin: 25px 15px 0;
    padding:10px;
    box-sizing: border-box;
}
.form-style-2{
	padding: 0px 12px 10px 20px;
    font-family: 'Lora', serif;
    font-size: 17px;
}
.form-style-2-heading{
	font-weight: bold;
	font-style: italic;
	border-bottom: 2px solid #ddd;
	margin-bottom: 20px;
	font-size: 15px;
	padding-bottom: 3px;
}
.form-style-2 label{
	display: block;
	margin: 0px 0px 15px 0px;
}
.form-style-2 label > span{
	width: 135px;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-right: 5px;
}
#tab3 .form-style-2 label > span{
    width: 200px;
}
#tab3 .form-style-2 label#line > span{
    width: 120px;
}
.form-style-2 span.required{
	color:red;
}
.form-style-2 .tel-number-field{
	width: 40px;
	text-align: center;
}
.form-style-2 input.input-field{
	width: 80%;	
}
#tab3 .form-style-2 input.input-field{
	width: 70%;	
}
.form-style-2 input.input-field.sm{
    width: 58%;
}
#tab3 .form-style-2 input.input-field.sm{
    width: 62%;
}
.form-style-2 input.input-field{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline: none;
}
.form-style-2 .input-field:focus{
	border: 1px solid #0C0;
}
.form-style-2 .textarea-field{
	height:100px;
	width: 55%;
}

.content-box{
    display: none;
    width: 90%;
    margin: auto;
}
.content-box .content-head{
    font-size: 28px;
    text-align: center;
}
.content-box .content-para{
    font-size: 24px;
    text-align: center;
}
.content-box#tab2 .content-para{
    font-size: 20px;
    text-align: center;
}
.content-box form textarea{
    margin-bottom: 20px;
    padding: 15px;
    font-size: 20px;
    border: 1px solid black;
    outline: black;
    color: black;
 
 } 
.content-box .links{
    padding: 0 30px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
 }
.content-box .links a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.content-box .links a:hover{
    color:red;
}
.content-box.active{
    display: block;
    width: 90%;
    margin: auto;
}