@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #e9ecef;
    font-family: 'Lora', serif;
    overflow-x: hidden;
}
.container{
    background:rgba(0,0,0,0.7)url('img/archie-FAQl-YtKDeU-unsplash.jpg');
    background-size: cover;
    max-width: 100%;
    margin: 0;
    min-height: 100vh;

}
.container .nav {
    padding: 10px;
}
.container .nav .logo img{
    max-width: 100px;
}
.box{
    justify-content: center;
    align-items: center;
    width: 90%;
    margin:auto;
}
.box .head-content{
    margin: 10% 0 5% 0;
}
.box .head-content .row{
    width: 70%;
    margin-left: 2%;
}
.box h1{
    font-family: 'Crimson Text';
    color: #fff;
}
.box .para p{
    font-family: 'Crimson Text';
    color: #fff;
    font-size: 20px;
    margin: 20px 0;
}
#custom {
    /* display: inline-block; */
    font-weight: 400;
    text-align: center;
    border: 1.5px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: pointer;
}
#custom {
    color: #ce6615;
    background-color: transparent;
    background-image: none;
    border-color: #ce6615;
}
#custom:hover {
    color: #fff;
    background-color: #ce6615;
    border-color: #ce6615;
}
.socials{
    display: flex;
    flex-direction: column;
    color: #e0e0e0;
    font-size: 20px;
    justify-content: center;
    align-items: flex-end;
}
.socials a{
    text-decoration: none;
    color:#fff;
    margin:2vh 0;
    cursor: pointer;
}
/* .socials i:hover{
    translate: 2px ;
} */
.bottom-strip{
    margin: auto;
    margin-bottom: 3%;
}
.services-box{
    display: flex;
    flex-wrap: wrap;
    background-color: #7774742e;
    flex-direction: column;
    color:#9f9d9d;
    min-height: 15vh;
}
.services-box i{
    font-size: 23px;
    padding: 5%;
    margin-left: 2%;
    text-align: center;
}
.services-box p{
    padding:0 5%;
    font-size: 15px;
    font-family: 'Mukta';
}
.contact{
    font-size: 14px;
    font-family: 'Mukta';
    color:#9f9d9d;
}
.contact .ele{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contact .ele i{
    padding: 1%;
    cursor: pointer;
}

@media(max-width : 767px){
    .box h1{
        font-size: 30px;
    }
    .box .para p{
        font-size: 16px;
    }
    #custom{
        font-size: 15px;
    }
    .services-box{
        min-height: 20vh;
    }
    .services-box p{
        font-size: 13px;
        margin-bottom: 0;
    }
    .services-box i{
        font-size: 20px;
    }
    
}
@media(max-width: 676px){
    #custom{
        font-size: 13px;
    }
    .socials{
        font-size: 17px;
    }
    .contact{
        font-size: 13px;
    }
}
@media(max-width: 600px){
    .box .head-content .row {
         width: 90%;
    }
    .contact{
        font-size: 12px;
        margin-top:5%;
    }
    .contact .ele p{
        margin-bottom: 2px;
    }
}
@media(max-width:576px) {
    .services-box{
        margin-top: 10%;
        min-height: 15vh;
    }    
}
@media(max-width:475px){
    .box h1{
        font-size: 25px;
    }
    .box .para p{
        font-size: 15px;
    }
    #custom{
        font-size: 12px;
    }
    .services-box i{
        font-size: 15px;
    }
    .services-box p{
        font-size: 10px;
    }
    .services-box{
        min-height: 10vh;
    }
    .box .first{
        display: flex;
        flex-direction: row;
    }
    .contact{
        font-size: 10px;
    }
    .contact .ele p{
        margin-bottom: 1px;
    }
}
@media(max-width:400px){
   
    #section-one{
        max-width: 87%;
    }
    #section-two{
        max-width: 5%;
    }
    .options{
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    .options #custom{
        margin-bottom: 5%;
    }
    .contact{
        font-size: 9px;
    }
}
@media(max-width:340px){
    .services-box{
        min-height: 15vh;
    }
}